
<!DOCTYPE HTML>
<html>
	<head>
		<title>LAHOTI Photo Gallery</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="{{url_for('photography.static', filename='css/main.css')}}"/>
		<noscript><link rel="stylesheet" href="{{url_for('photography.static', filename='css/noscript.css')}}" /></noscript>
	</head>
	<body class="is-preload">

		<!-- Wrapper -->
			<div id="wrapper">

				<!-- Header -->
					<header id="header">
						<h1><a href="/"><strong>LAHOTI </strong>| Travel Photography Gallery</a></h1>
						<nav>
							<p class="copyright">Copyright &copy; Yash Lahoti 2023 </p>
						</nav>
					</header>

				<!-- Main -->
					<div id="main">
						<!-- Stormking -->
						<article class="thumb">
							<a href="{{url_for('photography.static', filename='/images/fulls/stormking.jpeg')}}" class="image"><img src="{{url_for('photography.static', filename='/images/thumbs/stormking.jpeg')}}" alt="" /></a>
							<h2>Mount Storm King, Olympic Nation Park</h2>
						</article>

						<!-- Glacier -->
						<article class="thumb">
							<a href="{{url_for('photography.static', filename='/images/fulls/glacier.jpeg')}}" class="image"><img src="{{url_for('photography.static', filename='/images/thumbs/glacier.jpeg')}}" alt="" /></a>
							<h2>Blackstone Glacier, Alaska</h2>
						</article>

						<!-- Prince William Sound -->
						<article class="thumb">
							<a href="{{url_for('photography.static', filename='/images/fulls/pwsound.jpeg')}}" class="image"><img src="{{url_for('photography.static', filename='/images/thumbs/pwsound.jpeg')}}" alt="" /></a>
							<h2>Prince William Sound, Alaska</h2>
						</article>

						<!-- Habana -->
						<article class="thumb">
							<a href="{{url_for('photography.static', filename='/images/fulls/habana.jpeg')}}" class="image"><img src="{{url_for('photography.static', filename='/images/thumbs/habana.jpeg')}}" alt="" /></a>
							<h2>Fábrica de Arte Cubano, La Habana</h2>
						</article>

						<!-- Seattle -->
						<article class="thumb">
							<a href="{{url_for('photography.static', filename='/images/fulls/seattle.jpeg')}}" class="image"><img src="{{url_for('photography.static', filename='/images/thumbs/seattle.jpeg')}}" alt="" /></a>
							<h2>Seattle, USA</h2>
						</article>

						<!-- Habana -->
						<article class="thumb">
							<a href="{{url_for('photography.static', filename='/images/fulls/soroa.jpeg')}}" class="image"><img src="{{url_for('photography.static', filename='/images/thumbs/soroa.jpeg')}}" alt="" /></a>
							<h2>Soroa, Cuba</h2>
						</article>

						<!-- Habana -->
						<article class="thumb">
							<a href="{{url_for('photography.static', filename='/images/fulls/PR.jpeg')}}" class="image"><img src="{{url_for('photography.static', filename='/images/thumbs/pr.jpeg')}}" alt="" /></a>
							<h2>Beach, Puerto Rico</h2>
						</article>

						<!-- Habana -->
						<article class="thumb">
							<a href="{{url_for('photography.static', filename='/images/fulls/india_dance.jpeg')}}" class="image"><img src="{{url_for('photography.static', filename='/images/thumbs/india_dance.jpeg')}}" alt="" /></a>
							<h2>Rambagh Palace, Jaipur</h2>
						</article>

						<!-- Habana -->
						<article class="thumb">
							<a href="{{url_for('photography.static', filename='/images/fulls/LIC.jpeg')}}" class="image"><img src="{{url_for('photography.static', filename='/images/thumbs/LIC.jpeg')}}" alt="" /></a>
							<h2>Long Island City, NYC</h2>
						</article>

						<!-- Habana -->
						<article class="thumb">
							<a href="{{url_for('photography.static', filename='/images/fulls/mountain.jpeg')}}" class="image"><img src="{{url_for('photography.static', filename='/images/thumbs/mountain.jpeg')}}" alt="" /></a>
							<h2>Rocky Mountains, USA</h2>
						</article>
					</div>

			</div>

		<!-- Scripts -->
			<script src="{{url_for('photography.static', filename='js/jquery.min.js')}}"></script>
			<script src="{{url_for('photography.static', filename='js/jquery.poptrox.min.js')}}"></script>
			<script src="{{url_for('photography.static', filename='js/browser.min.js')}}"></script>
			<script src="{{url_for('photography.static', filename='js/breakpoints.min.js')}}"></script>
			<script src="{{url_for('photography.static', filename='js/util.js')}}"></script>
			<script src="{{url_for('photography.static', filename='js/main.js')}}"></script>

	</body>
</html>